/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
  &:hover, &:focus {
    color: var(--primary);
    border-color: var(--primary);
  }
}


/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties */
a:nth-of-type(1) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--primary);
  border-color: var(--secondary);
}

.shake {
  animation-name: shake;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.grow {
  animation-name: grow;
  animation: grow 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: scale(1, 1);
  backface-visibility: hidden;
  perspective: 2000px;
}

@keyframes grow {
  10%, 90% {
    transform: scale(2, 2);
  }
  



}



.epilepsie {
  animation-name: epilepsie;
  animation: epilepsie 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: scale(1, 1);
  backface-visibility: hidden;
  perspective: 2000px;
}

@keyframes epilepsie {
  10%, 90% {
    transform: scale(2, 0);
  }
  
  20%, 80% {
    transform: scale(1, 0);
  }

  30%, 50%, 70% {
    transform: scale(3, 3);
  }

  40%, 60% {
    transform: scale(1, 1);
  }
}




.dansje {
  animation-name: dansje;
  animation: dansje 2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes dansje {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  30% { transform: translate(0, 0) rotate(0eg); }
  40% { transform: translate(-5px, 5px) rotate(-5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  60% { transform: translate(5px, 5px) rotate(55deg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  90% { transform: translate(-5px, 5px) rotate(-70deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}